<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SoftRestaurantEntities"  connectionString="metadata=res://*/Entity.MSSQL.SoftRestaurantModelo.csdl|res://*/Entity.MSSQL.SoftRestaurantModelo.ssdl|res://*/Entity.MSSQL.SoftRestaurantModelo.msl;provider=System.Data.SqlClient; provider connection string=&quot;data source=ServerMSSQL;initial catalog=DB;user id=User;password=Password;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TacosInventarioEntities" connectionString="metadata=res://*/Entity.MySQL.TacosInventarioModel.csdl|res://*/Entity.MySQL.TacosInventarioModel.ssdl|res://*/Entity.MySQL.TacosInventarioModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=ServerMySQL;user id=User;password=Password;database=BD&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>